@charset "UTF-8";
html, body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul, li {
  margin: 0;
  padding: 0;
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: 100; }

img {
  display: block;
  border: 0; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

input {
  outline: none; }

.public, .top_box #top, #header, #menu, .homeline1, .homeline, .homeline2, .homeline8, .homeline10, .homeline9, #message, .cityline, .security, .shouhou_box .shouhou {
  width: 1180px;
  margin: 0 auto; }

a:hover {
  color: #DB3962; }

a {
  color: #222; }



/*top*/
.top_box {
  width: 100%;
  background: #f3f3f3; }
  .top_box #top {
    height: 38px;
    line-height: 38px; }
    .top_box #top span {
      font-size: 12px; }
    .top_box #top .user {
      background: url(../images/icon.png) no-repeat 0 -20px;
      padding-left: 19px;
      margin: 0 10px; }
    .top_box #top .left {
      float: left; }
    .top_box #top .right {
      float: right; }
      .top_box #top .right .user {
        margin-right: 25px; }
      .top_box #top .right .count {
        color: #DB3962;
        font-weight: 800; }
      .top_box #top .right .cart {
        margin-right: 10px; }
      .top_box #top .right .certify {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 17px;
        background: url(../images/icon.png) no-repeat 0 -40px; }
      .top_box #top .right .yuyue {
        margin-right: 10px;
        padding-left: 17px;
        background: url(../images/icon.png) no-repeat 0 -40px;
        color: #e13a68; }
      .top_box #top .right .mobile {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 22px;
        background: url(../images/icon.png) no-repeat 0 -64px; }
      .top_box #top .right .weixin {
        margin: 0 10px;
        padding-left: 25px;
        background: url(../images/icon.png) no-repeat 0 -96px; }
      .top_box #top .right .weibo {
        margin: 0 10px;
        padding-left: 26px;
        background: url(../images/icon.png) no-repeat 0 -129px; }

/*header*/
#header {
  height: 90px;
  padding: 5px 0; }
  #header h1 {
    float: left; }
  #header .main {
    float: left;
    width: 550px;
    height: 90px;
    margin-left: 150px; }
    #header .main .search {
      width: 265px;
      height: 32px;
      margin-top: 18px;
      margin-left: 150px; }
      #header .main .search .submit {
        width: 63px;
        height: 32px;
        float: right;
        background: #6d6c6c;
        text-align: center;
        line-height: 32px;
        color: #FFFFFF;
        font-weight: 900; }
      #header .main .search .keycode {
        width: 200px;
        height: 30px;
        border: 1px solid #6d6c6c;
        float: left;
        color: #7d7d7d; }
    #header .main .hotkey {
      margin-left: 150px;
      margin-top: 12px; }
      #header .main .hotkey a {
        margin-right: 10px;
        color: #7d7d7d; }
      #header .main .hotkey a:hover {
        color: #DB3962; }
  #header .code {
    width: 240px;
    height: 90px;
    float: right; }

/*menu*/
#menu {
  height: 38px; }
  #menu .allmenu {
    width: 200px;
    height: 38px;
    background: #c11e20 url(../images/icon1.png) no-repeat 160px 0;
    float: left; }
    #menu .allmenu li {
      position: relative;
      width: 182px;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      padding-left: 18px;
      float: left;
      color: #FFFFFF;
      font-weight: 900;
      z-index: 999; }
      #menu .allmenu li .submenu {
        float: left;
        padding: 0;
        display: none;
        width: 200px;
        position: absolute;
        top: 38px;
        left: 0; }
        #menu .allmenu li .submenu li {
          width: 190px;
          height: 81px;
          line-height: 25px;
          font-size: 12px;
          font-weight: 100;
          padding: 8px 5px 1px 5px; }
          #menu .allmenu li .submenu li a {
            margin-left: 12px;
            float: left;
            width: 50px;
            color: #FFFFFF; }
          #menu .allmenu li .submenu li a:hover {
            color: #DB3962; }
          #menu .allmenu li .submenu li .bold {
            margin-left: 12px;
            font-weight: 900;
            float: left;
            width: 36px; }
          #menu .allmenu li .submenu li .nbsp {
            margin-left: 60px; }
        #menu .allmenu li .submenu .first {
          height: 81px;
          background: #383333; }
        #menu .allmenu li .submenu .first:hover {
          background: #1C1919; }
        #menu .allmenu li .submenu .second {
          height: 81px;
          background: #312D2D; }
        #menu .allmenu li .submenu .second:hover {
          background: #1C1919; }
        #menu .allmenu li .submenu .third {
          height: 57px;
          background: #383333; }
        #menu .allmenu li .submenu .third:hover {
          background: #1C1919; }
        #menu .allmenu li .submenu .fourth {
          height: 51px;
          background: #312D2D; }
        #menu .allmenu li .submenu .fourth:hover {
          background: #1C1919; }
        #menu .allmenu li .submenu .fifth {
          height: 32px;
          background: #383333; }
        #menu .allmenu li .submenu .fifth:hover {
          background: #1C1919; }
        #menu .allmenu li .submenu .last {
          height: 32px;
          background: #312D2D; }
          #menu .allmenu li .submenu .last .hots {
            margin-left: 12px;
            color: #FFFFFF;
            float: left; }
          #menu .allmenu li .submenu .last .hots:hover {
            color: #DB3962;
            width: 50px; }
          #menu .allmenu li .submenu .last .join {
            margin-left: 8px;
            color: #FFFFFF;
            float: left;
            width: 100px;
            font-weight: 900; }
          #menu .allmenu li .submenu .last .join:hover {
            color: #DB3962; }
  #menu .home {
    float: left;
    padding: 0 25px;
    line-height: 38px; }
    #menu .home a {
      font-size: 14px;
      font-weight: 900; }
  #menu .item {
    float: left;
    line-height: 38px;
    padding: 0 25px; }
    #menu .item a {
      font-size: 14px;
      font-weight: 900; }
  #menu .phone {
    float: right;
    width: 240px;
    height: 38px; }



.security {
  height: 85px;
  background: url(../images/security.jpg) center center no-repeat; }

/*footer*/
.shouhou_box {
  width: 100%;
  background: #E9E9E9; }
  .shouhou_box .shouhou {
    height: 130px;
    padding: 15px 0;
    background: url(../images/shouhou.png) 0 15px no-repeat; }
    .shouhou_box .shouhou ul {
      height: 130px;
      border-left: 1px solid #CCCCCC; }
      .shouhou_box .shouhou ul li {
        width: 195px;
        height: 130px;
        float: left;
        border-right: 1px solid #CCCCCC; }
        .shouhou_box .shouhou ul li div {
          padding-left: 50px;
          padding-top: 15px; }
          .shouhou_box .shouhou ul li div span {
            width: 145px;
            line-height: 30px;
            font-weight: 900; }
          .shouhou_box .shouhou ul li div a {
            float: left;
            width: 145px;
            line-height: 24px;
            color: #555555; }
          .shouhou_box .shouhou ul li div a:hover {
            color: #CC0000; }

.contact_box {
  width: 100%;
  background: #333333;
  height: 66px;
  padding: 15px 0; }
  .contact_box .contact {
    width: 1170px;
    margin: 0 auto;
    height: 80px;
    padding: 0 5px;
    color: #B9B9B9; }
    .contact_box .contact .left {
      float: left;
      width: 1000px; }
      .contact_box .contact .left .address {
        width: 1000px;
        height: 35px;
        line-height: 35px; }
      .contact_box .contact .left .copyright {
        width: 1000px;
        height: 30px;
        line-height: 30px; }
    .contact_box .contact .right {
      float: left;
      width: 170px;
      text-align: right; }
      .contact_box .contact .right .hotline {
        width: 170px;
        height: 35px;
        line-height: 35px; }
      .contact_box .contact .right .phonenumber {
        width: 170px;
        height: 30px;
        line-height: 25px;
        font-size: 20px;
        font-weight: bold;
        font-family: "黑体"; }
        .contact_box .contact .right .phonenumber span {
          color: #FFFF00; }

.footicon {
  margin: 0 auto;
  width: 1180px;
  height: 53px;
  background: url(../images/footicon.gif) 0 15px no-repeat;
  overflow: hidden;
  padding: 15px 0; }
  .footicon a {
    margin-right: 23px;
    float: left;
    width: 123px;
    height: 53px; }
  .footicon a.last {
    margin-right: 0; }

.footer_box {
  width: 100%;
  height: 105px;
  padding: 15px 0;
  background: #F0F0F0;
  border-top: 1px solid #ccc;
  color: #999; }
  .footer_box a {
    color: #888; }
  .footer_box a:hover {
    color: #CC0000; }
  .footer_box .footer {
    width: 1170px;
    margin: 0 auto;
    height: 80px;
    line-height: 25px; }
    .footer_box .footer .left {
      float: left;
      width: 70px;
      font-weight: 900; }
    .footer_box .footer .right {
      float: left;
      width: 1100px; }
      .footer_box .footer .right a {
        margin-right: 8px;
        white-space: nowrap; }
  .footer_box .link {
    height: 25px;
    line-height: 25px;
    text-align: right; }

#rightbar {
  position: fixed;
  bottom: 100px;
  right: 5px;
  z-index: 30;
  width: 64px; }
  #rightbar li {
    text-align: center;
    background: #c11e20;
    width: 64px;
    height: 54px;
    position: relative;
    margin-top: 2px;
    padding-top: 10px; }
    #rightbar li img {
      margin: 0 auto; }
    #rightbar li span {
      font-family: "宋体";
      font-size: 12px;
      font-weight: 400;
      display: block;
      margin-top: 5px;
      color: #FFFFFF; }
      

/*message*/
#message {
  height: 260px;
  padding-top: 20px; }
  #message .select {
    color: #8A0003;
    background: url(../images/select.gif) no-repeat; }
  #message .messagetop {
    height: 35px;
    width: 100%; }
    #message .messagetop h3 {
      float: left;
      width: 385px;
      padding-left: 15px;
      height: 35px;
      line-height: 35px;
      font-size: 18px;
      font-weight: 900; }
    #message .messagetop ul {
      float: left; }
      #message .messagetop ul li {
        float: left;
        text-align: center; }
        #message .messagetop ul li a {
          float: left;
          width: 65px;
          height: 35px;
          line-height: 35px; }
  #message .messagebottom {
    float: left;
    width: 676px;
    height: 225px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    background: url(../images/map.png) no-repeat;
    border: 1px solid #6B6B6B; }
    #message .messagebottom .local {
      padding: 35px 0 25px 0;
      font-size: 20px;
      font-weight: bold; }
    #message .messagebottom .cityhide {
      display: none; }
  #message .show {
    float: left;
    display: block;
    border: 1px solid #6B6B6B; 
    }
   #message .hide{
   	display: none;
   	float: left;
    border: 1px solid #6B6B6B; 
   }

.cityline {
  height: 30px;
  background: url(../images/linebg.jpg); }

.security {
  height: 85px;
  background: url(../images/security.jpg) center center no-repeat; }
