


/*banner*/
#banner {
  height: 420px;
  position: relative; }
  #banner ul {
    position: relative;
    height: 420px; }
    #banner ul li {
      width: 100%;
      height: 420px;
      position: absolute;
      z-index: 2;
      background: url(../images/2.jpg) 50% 0px no-repeat; }
      #banner ul li a {
        display: block;
        width: 100%;
        height: 420px; }
    #banner ul li:last-child {
      background: url(../images/1.jpg) 50% 0px no-repeat; }
  #banner ol {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 2;
    text-align: center; }
    #banner ol li {
      width: 14px;
      height: 14px;
      display: inline-block;
      margin: 0 5px;
      padding: 0; }
      #banner ol li a {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(../images/dot.png) right 0 no-repeat;
        line-height: 40px;
        overflow: hidden;
        cursor: pointer; }
  #banner .active {
    background-position: 0 0; }

/*homaline*/
.homeline1 {
  height: 210px;
  padding-top: 18px; }
  .homeline1 div {
    float: left;
    border: 1px solid #ccc;
    padding-top: 7px;
    text-align: center;
    height: 200px; }
    .homeline1 div a {
      width: 100%;
      height: 100%;
      float: left; }
  .homeline1 .center {
    margin: 0 14px; }

.homeline {
  height: 18px;
  background: url(../images/line.jpg) no-repeat; }

.homeline2 {
  height: 159px;
  border: 1px solid #ccc; }
  .homeline2 .leftimg {
    width: 616px;
    height: 159px;
    float: left;
    background-color: #f9f9f9; }
    .homeline2 .leftimg img {
      margin-top: 20px;
      margin-left: 15px;
      background-color: #f9f9f9; }
  .homeline2 .rightbtn {
    width: 562px;
    height: 159px;
    float: left;
    background: url(../images/bg1.png); }
    .homeline2 .rightbtn .inputvalue {
      margin-top: 20px;
      float: left;
      width: 215px;
      height: 33px; }
      .homeline2 .rightbtn .inputvalue .inputcss {
        width: 50px;
        height: 33px;
        float: left;
        margin-left: 70px;
        margin-top: 5px; }
      .homeline2 .rightbtn .inputvalue .searchinputcss {
        width: 40px;
        height: 15px; }
      .homeline2 .rightbtn .inputvalue .inputline {
        width: 20px;
        height: 33px;
        float: left;
        line-height: 30px; }
      .homeline2 .rightbtn .inputvalue .inputtxt {
        height: 33px;
        line-height: 30px; }
      .homeline2 .rightbtn .inputvalue .rightinputcss {
        float: left;
        width: 50px;
        height: 33px;
        margin-top: 5px; }
    .homeline2 .rightbtn .selectitem {
      float: left;
      margin-left: 70px;
      margin-top: 13px;
      height: 33px; }
      .homeline2 .rightbtn .selectitem .imgs {
        cursor: pointer;
        float: left;
        padding: 0 3px;
        height: 24px; }
        .homeline2 .rightbtn .selectitem .imgs img {
          margin-top: 3px; }
    .homeline2 .rightbtn .selectitembtn {
      float: left;
      margin-left: 370px;
      margin-top: 5px;
      height: 33px; }
      .homeline2 .rightbtn .selectitembtn .imgs {
        cursor: pointer; }

.homeline3 {
  margin: 0 auto;
  width: 1180px;
  height: 429px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline3 .left {
    float: left;
    width: 321px;
    height: 429px;
    background: url(../images/line3/1.jpg) no-repeat;
    overflow: hidden; }
  .homeline3 .center {
    float: left;
    width: 259px;
    height: 429px;
    overflow: hidden; }
  .homeline3 .right {
    float: left;
    width: 600px;
    height: 429px;
    overflow: hidden; }
  .homeline3 .righttop {
    float: left;
    width: 600px;
    height: 211px;
    overflow: hidden; }
  .homeline3 .righttopleft {
    float: left;
    width: 299px;
    height: 211px;
    overflow: hidden; }
  .homeline3 .righttopright {
    float: left;
    width: 301px;
    height: 211px;
    overflow: hidden; }
  .homeline3 .rightbottom {
    float: left;
    width: 600px;
    height: 218px;
    overflow: hidden; }
  .homeline3 .rightbottomleft {
    float: left;
    width: 200px;
    height: 218px;
    overflow: hidden; }
  .homeline3 .rightbottomcenter {
    float: left;
    width: 195px;
    height: 218px;
    overflow: hidden; }
  .homeline3 .rightbottomright {
    float: left;
    width: 205px;
    height: 218px;
    overflow: hidden; }

.homeline4 {
  margin: 0 auto;
  width: 1180px;
  height: 116px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline4 div {
    float: left; }

.homeline5 {
  margin: 0 auto;
  width: 1180px;
  height: 429px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline5 .left {
    float: left;
    width: 320px;
    height: 429px;
    background: url(../images/line5/1.jpg) no-repeat;
    overflow: hidden; }
  .homeline5 .center {
    float: left;
    width: 598px;
    height: 429px;
    overflow: hidden; }
  .homeline5 .right {
    float: left;
    width: 262px;
    height: 429px;
    overflow: hidden; }
  .homeline5 .centertop {
    float: left;
    width: 598px;
    height: 211px;
    overflow: hidden; }
  .homeline5 .centertopleft {
    float: left;
    width: 301px;
    height: 211px;
    overflow: hidden; }
  .homeline5 .centertopright {
    float: left;
    width: 297px;
    height: 211px;
    overflow: hidden; }
  .homeline5 .centerbottom {
    float: left;
    width: 598px;
    height: 218px;
    overflow: hidden; }
  .homeline5 .centerbottomleft {
    float: left;
    width: 202px;
    height: 218px;
    overflow: hidden; }
  .homeline5 .centerbottomcenter {
    float: left;
    width: 195px;
    height: 218px;
    overflow: hidden; }
  .homeline5 .centerbottomright {
    float: left;
    width: 201px;
    height: 218px;
    overflow: hidden; }

.homeline6 {
  margin: 0 auto;
  width: 1180px;
  height: 429px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline6 .left {
    float: left;
    width: 321px;
    height: 429px;
    background: url(../images/line6/1.jpg);
    overflow: hidden; }
  .homeline6 .center {
    float: left;
    width: 259px;
    height: 429px;
    overflow: hidden; }
  .homeline6 .right {
    float: left;
    width: 600px;
    height: 429px;
    overflow: hidden; }
  .homeline6 .righttop {
    float: left;
    width: 600px;
    height: 211px;
    overflow: hidden; }
  .homeline6 .righttopleft {
    float: left;
    width: 301px;
    height: 211px;
    overflow: hidden; }
  .homeline6 .righttopright {
    float: left;
    width: 299px;
    height: 211px;
    overflow: hidden; }
  .homeline6 .rightbottom {
    float: left;
    width: 600px;
    height: 218px;
    overflow: hidden; }
  .homeline6 .rightbottomleft {
    float: left;
    width: 200px;
    height: 218px;
    overflow: hidden; }
  .homeline6 .rightbottomcenter {
    float: left;
    width: 197px;
    height: 218px;
    overflow: hidden; }
  .homeline6 .rightbottomright {
    float: left;
    width: 203px;
    height: 218px;
    overflow: hidden; }

.homeline7 {
  margin: 0 auto;
  width: 1180px;
  height: 116px;
  background: #FFFFFF;
  overflow: hidden; }

.homeline8 {
  height: 429px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline8 .left {
    float: left;
    width: 320px;
    height: 429px;
    background: url(../images/line8/1.jpg) no-repeat;
    overflow: hidden; }
  .homeline8 .center {
    float: left;
    width: 598px;
    height: 429px;
    overflow: hidden; }
  .homeline8 .right {
    float: left;
    width: 262px;
    height: 429px;
    overflow: hidden; }
  .homeline8 .centertop {
    float: left;
    width: 598px;
    height: 211px;
    overflow: hidden; }
  .homeline8 .centertopleft {
    float: left;
    width: 300px;
    height: 211px;
    overflow: hidden; }
  .homeline8 .centertopright {
    float: left;
    width: 298px;
    height: 211px;
    overflow: hidden; }
  .homeline8 .centerbottom {
    float: left;
    width: 598px;
    height: 218px;
    overflow: hidden; }
  .homeline8 .centerbottomleft {
    float: left;
    width: 200px;
    height: 218px;
    overflow: hidden; }
  .homeline8 .centerbottomcenter {
    float: left;
    width: 196px;
    height: 218px;
    overflow: hidden; }
  .homeline8 .centerbottomright {
    float: left;
    width: 202px;
    height: 218px;
    overflow: hidden; }

.homeline10 {
  height: 429px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline10 .left {
    float: left;
    width: 320px;
    height: 429px;
    background: url(../images/line10/1.jpg);
    overflow: hidden; }
  .homeline10 .center {
    float: left;
    width: 598px;
    height: 429px;
    overflow: hidden; }
  .homeline10 .right {
    float: left;
    width: 262px;
    height: 429px;
    overflow: hidden; }
  .homeline10 .centertop {
    float: left;
    width: 598px;
    height: 211px;
    overflow: hidden; }
  .homeline10 .centertopleft {
    float: left;
    width: 300px;
    height: 211px;
    overflow: hidden; }
  .homeline10 .centertopright {
    float: left;
    width: 298px;
    height: 211px;
    overflow: hidden; }
  .homeline10 .centerbottom {
    float: left;
    width: 598px;
    height: 218px;
    overflow: hidden; }
  .homeline10 .centerbottomleft {
    float: left;
    width: 201px;
    height: 218px;
    overflow: hidden; }
  .homeline10 .centerbottomcenter {
    float: left;
    width: 196px;
    height: 218px;
    overflow: hidden; }
  .homeline10 .centerbottomright {
    float: left;
    width: 201px;
    height: 218px;
    overflow: hidden; }

.homeline9 {
  height: 290px;
  background: #FFFFFF;
  overflow: hidden; }
  .homeline9 .linewrap {
    float: left;
    margin-right: 10px;
    width: 320px;
    height: 288px;
    border: 1px solid #E3E3E3; }
    .homeline9 .linewrap .wraphead {
      width: 320px;
      height: 33px;
      line-height: 33px;
      text-indent: 15px;
      font-weight: bold;
      background: url(../images/line9/headbg.jpg); }
    .homeline9 .linewrap .wrapmain {
      padding: 5px;
      width: 310px;
      height: 245px; }
      .homeline9 .linewrap .wrapmain .mainimg {
        width: 310px;
        height: 95px; }
      .homeline9 .linewrap .wrapmain .maintext {
        margin-top: 10px;
        width: 310px;
        height: 135px; }
        .homeline9 .linewrap .wrapmain .maintext div {
          padding-left: 10px;
          width: 300px;
          height: 27px;
          line-height: 27px; }
  .homeline9 .lineads {
    float: left;
    width: 184px;
    height: 290px; }

.homeimgs {
  float: left;
  width: 320px;
  height: 180px; }

.hometype {
  float: left;
  padding: 12px 0 5px 0;
  width: 200px;
  height: 120px; }

.hometype div {
  float: left;
  width: 200px;
  height: 24px;
  line-height: 24px;
  text-indent: 30px; }

.homeprice {
  float: left;
  width: 200px;
  height: 100px; }

.homeprice div {
  float: left;
  width: 200px;
  height: 24px;
  line-height: 24px;
  text-indent: 30px; }

/*message*/
#message {
  height: 260px;
  padding-top: 20px; }
  #message .select {
    color: #8A0003;
    background: url(../images/select.gif) no-repeat; }
  #message .messagetop {
    height: 35px;
    width: 100%; }
    #message .messagetop h3 {
      float: left;
      width: 385px;
      padding-left: 15px;
      height: 35px;
      line-height: 35px;
      font-size: 18px;
      font-weight: 900; }
    #message .messagetop ul {
      float: left; }
      #message .messagetop ul li {
        float: left;
        text-align: center; }
        #message .messagetop ul li a {
          float: left;
          width: 65px;
          height: 35px;
          line-height: 35px; }
  #message .messagebottom {
    float: left;
    width: 676px;
    height: 225px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    background: url(../images/map.png) no-repeat;
    border: 1px solid #6B6B6B; }
    #message .messagebottom .local {
      padding: 35px 0 25px 0;
      font-size: 20px;
      font-weight: bold; }
    #message .messagebottom .cityhide {
      display: none; }
  #message .show {
    float: left;
    display: block;
    border: 1px solid #6B6B6B; 
    }
   #message .hide{
   	display: none;
   	float: left;
    border: 1px solid #6B6B6B; 
   }

.cityline {
  height: 30px;
  background: url(../images/linebg.jpg); }

.security {
  height: 85px;
  background: url(../images/security.jpg) center center no-repeat; }

/*footer*/
.shouhou_box {
  width: 100%;
  background: #E9E9E9; }
  .shouhou_box .shouhou {
    height: 130px;
    padding: 15px 0;
    background: url(../images/shouhou.png) 0 15px no-repeat; }
    .shouhou_box .shouhou ul {
      height: 130px;
      border-left: 1px solid #CCCCCC; }
      .shouhou_box .shouhou ul li {
        width: 195px;
        height: 130px;
        float: left;
        border-right: 1px solid #CCCCCC; }
        .shouhou_box .shouhou ul li div {
          padding-left: 50px;
          padding-top: 15px; }
          .shouhou_box .shouhou ul li div span {
            width: 145px;
            line-height: 30px;
            font-weight: 900; }
          .shouhou_box .shouhou ul li div a {
            float: left;
            width: 145px;
            line-height: 24px;
            color: #555555; }
          .shouhou_box .shouhou ul li div a:hover {
            color: #CC0000; }

.contact_box {
  width: 100%;
  background: #333333;
  height: 66px;
  padding: 15px 0; }
  .contact_box .contact {
    width: 1170px;
    margin: 0 auto;
    height: 80px;
    padding: 0 5px;
    color: #B9B9B9; }
    .contact_box .contact .left {
      float: left;
      width: 1000px; }
      .contact_box .contact .left .address {
        width: 1000px;
        height: 35px;
        line-height: 35px; }
      .contact_box .contact .left .copyright {
        width: 1000px;
        height: 30px;
        line-height: 30px; }
    .contact_box .contact .right {
      float: left;
      width: 170px;
      text-align: right; }
      .contact_box .contact .right .hotline {
        width: 170px;
        height: 35px;
        line-height: 35px; }
      .contact_box .contact .right .phonenumber {
        width: 170px;
        height: 30px;
        line-height: 25px;
        font-size: 20px;
        font-weight: bold;
        font-family: "黑体"; }
        .contact_box .contact .right .phonenumber span {
          color: #FFFF00; }

.footicon {
  margin: 0 auto;
  width: 1180px;
  height: 53px;
  background: url(../images/footicon.gif) 0 15px no-repeat;
  overflow: hidden;
  padding: 15px 0; }
  .footicon a {
    margin-right: 23px;
    float: left;
    width: 123px;
    height: 53px; }
  .footicon a.last {
    margin-right: 0; }

.footer_box {
  width: 100%;
  height: 105px;
  padding: 15px 0;
  background: #F0F0F0;
  border-top: 1px solid #ccc;
  color: #999; }
  .footer_box a {
    color: #888; }
  .footer_box a:hover {
    color: #CC0000; }
  .footer_box .footer {
    width: 1170px;
    margin: 0 auto;
    height: 80px;
    line-height: 25px; }
    .footer_box .footer .left {
      float: left;
      width: 70px;
      font-weight: 900; }
    .footer_box .footer .right {
      float: left;
      width: 1100px; }
      .footer_box .footer .right a {
        margin-right: 8px;
        white-space: nowrap; }
  .footer_box .link {
    height: 25px;
    line-height: 25px;
    text-align: right; }

#rightbar {
  position: fixed;
  bottom: 100px;
  right: 5px;
  z-index: 30;
  width: 64px; }
  #rightbar li {
    text-align: center;
    background: #c11e20;
    width: 64px;
    height: 54px;
    position: relative;
    margin-top: 2px;
    padding-top: 10px; }
    #rightbar li img {
      margin: 0 auto; }
    #rightbar li span {
      font-family: "宋体";
      font-size: 12px;
      font-weight: 400;
      display: block;
      margin-top: 5px;
      color: #FFFFFF; }

/*# sourceMappingURL=index.css.map */
