@charset "utf-8";
html,body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul,li{margin:0;padding:0;font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;}
i,em{font-style:normal;}
b,strong{font-weight:100;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}
.clearfix{zoom:1;}
input{
    outline: none;
}
.public{
    width: 1180px;
    margin: 0 auto;
}
a:hover{
    color: #DB3962;
}
a{
    color: #222;
}
/*top*/
.top_box{
    width: 100%;
    background:#f3f3f3 ;
    #top{
        @extend .public;
//      background: #f3f3f3;
        height: 38px;
        line-height: 38px;
        span{
            font-size: 12px; 
        }
        .user{
            background: url(../images/icon.png) no-repeat 0 -20px;
            padding-left: 19px;
            margin: 0 10px;
        }
        .left{
            float: left;
        }
        .right{
            float: right;
            .user{
                margin-right: 25px;
            }
            .count{
                color:#DB3962 ;
                font-weight: 800;
            }
            .cart{
                margin-right: 10px;
            }
            .certify{
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 17px;
                background: url(../images/icon.png) no-repeat 0 -40px;
            }
            .yuyue{
                margin-right:10px;
                padding-left: 17px;
                background: url(../images/icon.png) no-repeat 0 -40px;
                color:#e13a68;
            }
            .mobile{
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 22px;
                background: url(../images/icon.png) no-repeat 0 -64px;
                
            }
            .weixin{
               margin: 0 10px;
               padding-left: 25px;
               background: url(../images/icon.png) no-repeat 0 -96px;
                
            }
            .weibo{
                margin:  0 10px;
                padding-left: 26px;
                background: url(../images/icon.png) no-repeat 0 -129px;
            }
        }
    }
}
/*header*/
#header{
    @extend .public;
    height:100px;
    padding: 5px 0;
    h1{
        float: left;
    }
    .main{
        float: left;
        width: 550px;
        height: 90px;
        margin-left: 150px;
        .search{
            width: 265px;
            height: 32px;
            margin-top: 18px;
            margin-left: 150px;
            .submit{
                width: 63px;
                height: 32px;
                float: right;
                background: #6d6c6c;
                text-align: center;
                line-height: 32px;
                color: #FFFFFF;
                font-weight: 900;
            }
            .keycode{
                width: 200px;
                height: 30px;
                border:1px solid #6d6c6c;
                float: left;
                color: #7d7d7d;
            }
        }
        .hotkey{
            margin-left: 150px;
            margin-top: 12px;
            a{
                margin-right: 10px;
                color: #7d7d7d;
            }
            a:hover{
                color: #DB3962;
            }
        }
    }
    .code{
        width: 240px;
        height: 90px;
        float: right;
    }
}

/*menu*/
#menu{
    @extend .public;
    height: 38px;
//  line-height: 38px;
    .allmenu{
        width: 200px;
        height: 38px;
        background: #c11e20 url(../images/icon1.png) no-repeat 160px 0;
        float: left;
        li{
            position: relative;
            width: 182px;
            height: 38px;
            line-height: 38px;
            font-size: 14px;
            padding-left: 18px;
            float: left;
            color: #FFFFFF;
            font-weight: 900;
            z-index: 999;
            .submenu{
                float: left;
                padding: 0;
                display: none;
                width: 200px;
                position: absolute;
                top: 38px;
                left: 0;
                li{
                  width: 190px;
                  height: 81px;
                  line-height: 25px;
                  font-size: 12px;
                  font-weight: 100;
                  padding: 8px 5px 1px 5px;
                  a{
                      margin-left: 12px;
                      float: left;
                      width: 50px;
                      color: #FFFFFF;
                  }
                  a:hover { color: #DB3962; }
                  .bold{
                      margin-left: 12px; 
                      font-weight: 900; 
                      float: left; 
                      width: 36px;
                  }
                  .nbsp{
                      margin-left: 60px;
                  }
                }
                .first { height: 81px; background: #383333; }
                .first:hover { background: #1C1919; }
                .second { height: 81px; background: #312D2D; }
                .second:hover { background: #1C1919; }
                .third { height: 57px; background: #383333; }
                .third:hover { background: #1C1919; }
                .fourth { height: 51px; background: #312D2D; }
                .fourth:hover { background: #1C1919; }
                .fifth { height: 32px; background: #383333; }
                .fifth:hover { background: #1C1919; }
                .last { height: 32px; background: #312D2D; 
                    .hots { margin-left: 12px; color: #FFFFFF; float: left; }
                    .hots:hover { color: #DB3962; width: 50px;}
                    .join { margin-left: 8px; color: #FFFFFF; float: left; width: 100px; font-weight: 900;}
                    .join:hover { color: #DB3962; }
                
                }
            }
        }
    }
    .home{
        float: left;
        padding: 0 25px;
        line-height: 38px;
        a{  
            font-size: 14px;
            font-weight: 900;
        }
    }
    .item{
        float: left;
        line-height: 38px;
        padding: 0 25px;
        a{
            font-size: 14px;
            font-weight: 900;
        }
    }
    .phone{
        float: right;
        width: 240px;
        height: 38px;
    }
}
/*banner*/
#banner{
    height: 420px;
    position: relative;
    ul{
        position: relative;
        height: 420px;
        li{
            width: 100%;
            height: 420px;
            position: absolute;
            background: url(../images/2.jpg) 50% 0px no-repeat;
            a{
                display: block;
                width: 100%;
                height: 420px;
            }
        }
        li:last-child{
            background: url(../images/1.jpg) 50% 0px no-repeat;
        }
     
    }
    ol{
        position: absolute;
        bottom: 10px;
        width: 100%;
        z-index: 2;
        text-align: center;
        li{
            width: 14px;
            height: 14px;
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            a{
                display: inline-block;
                width: 14px;
                height: 14px;
                background: url(../images/dot.png) right 0 no-repeat;
                line-height: 40px;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }
    .active{
       background-position: 0 0;
    }
    
}
/*homaline*/
.homeline1{
    @extend .public;
    height: 210px;
    padding-top:18px ;
    div{
        float: left;
        border: 1px solid #ccc;
        padding-top: 7px;
        text-align: center;
        height: 200px;
        a{
            width: 100%;
            height: 100%;
            float: left;
        }
    }
    .center{
        margin: 0 14px;
    }
}
.homeline{
    height: 18px;
    @extend .public;
    background:url(../images/line.jpg) no-repeat ;
}
.homeline2{
    @extend .public;
    height: 159px;
    border: 1px solid #ccc;
   .leftimg{
       width: 616px;
       height: 159px;
       float: left;
       background-color:#f9f9f9;
       img{
           margin-top: 20px;
           margin-left: 15px;
           background-color:#f9f9f9;
       }
   }
   .rightbtn{
       width: 562px;
       height: 159px;
       float: left;
       background: url(../images/bg1.png);
       .inputvalue{
           margin-top: 20px;
           float: left;
           width: 215px;
           height: 33px;
           .inputcss{
               width: 50px;
               height: 33px;
               float: left;
               margin-left: 70px;
               margin-top: 5px;
           }
           .searchinputcss{
               width: 40px;
               height: 15px;
           }
           .inputline{
               width: 20px;
               height: 33px;
               float: left;
               line-height: 30px;
           }
           .inputtxt{
               height: 33px;
               line-height: 30px;
              
           }
           .rightinputcss{
               float:left;
               width:50px;
               height:33px;
               margin-top:5px;
           }
       }
       .selectitem{
           float: left;
           margin-left: 70px; 
           margin-top: 13px;
           height:33px;
           .imgs {
               cursor:pointer; 
               float: left; 
               padding: 0 3px; 
               height: 24px;
               img{
                   margin-top: 3px;
               }
            }
            
       }
       .selectitembtn { 
           float: left; 
           margin-left: 370px; 
           margin-top: 5px;
           height:33px;
           .imgs{
               cursor:pointer;
           }
       }
       
   }
}
.homeline3{
   margin: 0 auto; 
   width: 1180px; 
   height: 429px; 
   background: #FFFFFF; 
   overflow: hidden; 
    .left{
        float: left; 
        width: 321px; 
        height: 429px; 
        background: url(../images/line3/1.jpg) no-repeat; 
        overflow: hidden;
        
    }
    .center{
        float: left; 
        width: 259px; 
        height: 429px; 
        overflow: hidden;
    }
    .right{
        float: left; 
        width: 600px; 
        height: 429px; 
        overflow: hidden;
    }
    .righttop{
        float: left; 
        width: 600px; 
        height: 211px; 
        overflow: hidden;
    }
    .righttopleft{
        float: left; 
        width: 299px; 
        height: 211px; 
        overflow: hidden;
    }
    .righttopright{
        float: left; 
        width: 301px; 
        height: 211px; 
        overflow: hidden;
    }
    .rightbottom{
        float: left; 
        width: 600px; 
        height: 218px; 
        overflow: hidden;
    }
    .rightbottomleft{
        float: left; 
        width: 200px; 
        height: 218px; 
        overflow: hidden;
    }
    .rightbottomcenter{
        float: left; 
        width: 195px; 
        height: 218px; 
        overflow: hidden;
    }
    .rightbottomright{
        float: left; 
        width: 205px; 
        height: 218px; 
        overflow: hidden;
    }

}
.homeline4{
    margin: 0 auto; 
    width: 1180px; 
    height: 116px; 
    background: #FFFFFF; 
    overflow: hidden;
    div{
        float: left;
    }
}
.homeline5{
    margin: 0 auto; 
    width: 1180px; 
    height: 429px; 
    background: #FFFFFF; 
    overflow: hidden;
    .left{
        float: left; 
        width: 320px; 
        height: 429px; 
        background: url(../images/line5/1.jpg) no-repeat; 
        overflow: hidden;
    }
    .center{
        float: left; 
        width: 598px; 
        height: 429px; 
        overflow: hidden;
    }
    .right{
        float: left; 
        width: 262px; 
        height: 429px; 
        overflow: hidden;
    }
    .centertop{
        float: left; 
        width: 598px; 
        height: 211px; 
        overflow: hidden;
    }
    .centertopleft{
        float: left; 
        width: 301px; 
        height: 211px; 
        overflow: hidden;
    }
    .centertopright{
        float: left; 
        width: 297px; 
        height: 211px; 
        overflow: hidden;
    }
    .centerbottom{
        float: left; 
        width: 598px; 
        height: 218px; 
        overflow: hidden;
    }
    .centerbottomleft{
        float: left; 
        width: 202px; 
        height: 218px; 
        overflow: hidden;
    }
    .centerbottomcenter{
        float: left; 
        width: 195px; 
        height: 218px; 
        overflow: hidden;
    }
    .centerbottomright{
        float: left; 
        width: 201px; 
        height: 218px; 
        overflow: hidden;
    }
}
.homeline6{
    margin: 0 auto; 
    width: 1180px; 
    height: 429px; 
    background: #FFFFFF; 
    overflow: hidden;
    .left{
        float: left; 
        width: 321px; 
        height: 429px; 
        background: url(../images/line6/1.jpg); 
        overflow: hidden;
    }
    .center{
        float: left; 
        width: 259px; 
        height: 429px; 
        overflow: hidden;
    }
    .right{
        float: left; 
        width: 600px; 
        height: 429px; 
        overflow: hidden;
    }
    .righttop{
        float: left; 
        width: 600px; 
        height: 211px; 
        overflow: hidden;
    }
    .righttopleft{
        float: left; 
        width: 301px; 
        height: 211px; 
        overflow: hidden;
    }
    .righttopright{
        float: left; 
        width: 299px; 
        height: 211px; 
        overflow: hidden;
    }
    .rightbottom{
        float: left; 
        width: 600px; 
        height: 218px; 
        overflow: hidden; 
    }
    .rightbottomleft{
        float: left; 
        width: 200px; 
        height: 218px; 
        overflow: hidden;
    }
    .rightbottomcenter{
        float: left; 
        width: 197px; 
        height: 218px; 
        overflow: hidden;
    }
    .rightbottomright{
        float: left; 
        width: 203px; 
        height: 218px; 
        overflow: hidden;
    }
}
.homeline7 {  
    margin: 0 auto; 
    width: 1180px; 
    height: 116px; 
    background: #FFFFFF; 
    overflow: hidden; 
}
.homeline8{
    @extend .public;
    height: 429px; 
    background: #FFFFFF; 
    overflow: hidden;
    .left{
        float: left; 
        width: 320px; 
        height: 429px; 
        background: url(../images/line8/1.jpg) no-repeat; 
        overflow: hidden;
    }
    .center{
        float: left; 
        width: 598px; 
        height: 429px; 
        overflow: hidden;
    }
    .right{
        float: left; 
        width: 262px; 
        height: 429px; 
        overflow: hidden;
    }
    .centertop{
        float: left; 
        width: 598px; 
        height: 211px; 
        overflow: hidden;
    }
    .centertopleft{
        float: left; 
        width: 300px; 
        height: 211px; 
        overflow: hidden;
    }
    .centertopright{
        float: left; 
        width: 298px; 
        height: 211px; 
        overflow: hidden;
    }
    .centerbottom{
    float: left; width: 598px; height: 218px; overflow: hidden;}
    .centerbottomleft{float: left; width: 200px; height: 218px; overflow: hidden; }
    .centerbottomcenter{float: left; width: 196px; height: 218px; overflow: hidden;}
    .centerbottomright{float: left; width: 202px; height: 218px; overflow: hidden;}
}
.homeline10{
    @extend .public;
    height: 429px; background: #FFFFFF; overflow: hidden;
    .left{
        float: left; width: 320px; height: 429px; 
        background: url(../images/line10/1.jpg); overflow: hidden; 
    }
    .center{float: left; width: 598px; height: 429px; overflow: hidden;}
    .right{float: left; width: 262px; height: 429px; overflow: hidden;}
    .centertop{float: left; width: 598px; height: 211px; overflow: hidden;}
    .centertopleft{float: left; width: 300px; height: 211px; overflow: hidden;}
    .centertopright{float: left; width: 298px; height: 211px; overflow: hidden;}
    .centerbottom{float: left; width: 598px; height: 218px; overflow: hidden;}
    .centerbottomleft{float: left; width: 201px; height: 218px; overflow: hidden;}
    .centerbottomcenter{float: left; width: 196px; height: 218px; overflow: hidden;}
    .centerbottomright{float: left; width: 201px; height: 218px; overflow: hidden;}
}
.homeline9{
    @extend .public;
    height: 290px; background: #FFFFFF; overflow: hidden;
    .linewrap{
        float: left; margin-right: 10px; width: 320px; height: 288px; border: 1px solid #E3E3E3;
        .wraphead{
            width: 320px; height: 33px; line-height: 33px; text-indent: 15px; font-weight: bold; background: url(../images/line9/headbg.jpg);
        }
        .wrapmain{
             padding: 5px; width: 310px; height: 245px;
            .mainimg{ width: 310px; height: 95px;}
            .maintext{ margin-top: 10px; width: 310px; height: 135px;
                div{padding-left: 10px; width: 300px; height: 27px; line-height: 27px;}
            }
        }
    }
    .lineads{float: left;width: 184px; height: 290px;}
    
}
.homeimgs{ 
    float: left; 
    width: 320px; 
    height: 180px; 
}
.hometype{ 
    float: left; 
    padding: 12px 0 5px 0; 
    width: 200px; 
    height: 120px; 
}
.hometype div { 
    float: left; 
    width: 200px; 
    height: 24px; 
    line-height: 24px; 
    text-indent: 30px;
}
.homeprice { 
    float: left; 
    width: 200px; 
    height: 100px;
}
.homeprice div { 
    float: left; 
    width: 200px; 
    height: 24px; 
    line-height: 24px; 
    text-indent: 30px;
}

/*message*/
#message{
    @extend .public;
    height: 260px;
    padding-top: 20px;
    .select{
        color: #8A0003;
        background: url(../images/select.gif) no-repeat;
    }
    .messagetop{
        height: 35px;
        width: 100%;
        h3{
            float: left;
            width: 385px;
            padding-left: 15px;
            height: 35px;
            line-height: 35px;
            font-size: 18px;
            font-weight: 900;
        }
        ul{
            float: left;
            li{
                float: left;
                text-align: center;
                a{
                    float: left;
                    width: 65px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
    .messagebottom{
        float: left;
        width: 676px;
        height: 225px;
        text-align: center;
        font-size: 14px;
        line-height: 32px;
        background: url(../images/map.png) no-repeat;
        border:1px solid #6B6B6B;
        .local{
            padding: 35px 0 25px 0; font-size: 20px; font-weight: bold;
        }
        .cityhide{
            display: none;
        }
    }
    .show{
        float: left;
        border:1px solid #6B6B6B;
    }
}
.cityline{
    @extend .public;
    height: 30px;
    background: url(../images/linebg.jpg) ;
}
.security{
    @extend .public;
    height: 85px;
    background: url(../images/security.jpg) center center no-repeat;
}
/*footer*/
.shouhou_box{
    width: 100%;
    background: #E9E9E9;
    .shouhou{
        @extend .public;
        height: 130px;
        padding: 15px 0;
        background: url(../images/shouhou.png) 0 15px no-repeat;
        ul{
            height: 130px;
            border-left:1px solid #CCCCCC ;
            li{
                width: 195px;
                height: 130px;
                float: left;
                border-right:1px solid #CCCCCC ;
                div{
                    padding-left: 50px;
                    padding-top: 15px;
                    span{
                        width: 145px;
                        line-height: 30px;
                        font-weight: 900;
                    }
                    a{
                        float: left; width: 145px; line-height: 24px; color: #555555;
                    }
                    a:hover{
                        color: #CC0000;
                    }
                }
            }
        }
    }
}
.contact_box{
    width: 100%;
    background: #333333;
    height: 66px;
    padding: 15px 0;
    .contact{
       width: 1170px;
       margin: 0 auto;
        height: 80px;
        padding: 0 5px;
        color: #B9B9B9;
        .left{
            float: left;
            width: 1000px;
            .address{
                width: 1000px; height: 35px; line-height: 35px;
            }
            .copyright{width: 1000px; height: 30px; line-height: 30px;}
        }
        .right{
            float: left; width: 170px; text-align: right;
            .hotline{ width: 170px; height: 35px; line-height: 35px;}
            .phonenumber{width: 170px; height: 30px; line-height: 25px; font-size: 20px; font-weight: bold; font-family: "黑体";
                span{
                    color: #FFFF00;
                }
             }
            
        }
    }
}
.footicon{
    margin: 0 auto; 
    width: 1180px; 
    height: 53px; 
    background: url(../images/footicon.gif) 0 15px no-repeat; 
    overflow: hidden;
    padding: 15px 0;
    a{
        margin-right: 23px; float: left; width: 123px; height: 53px;
    }
    a.last{
        margin-right: 0;
    }
}
.footer_box{
    width: 100%;
    height: 105px;
    padding: 15px 0;
    background:#F0F0F0 ;
    border-top:1px solid #ccc ;
    color: #999;
    a{
        color: #888;
    }
    a:hover{
        color: #CC0000;
    }
    .footer{
        width: 1170px;
        margin: 0 auto;
        height: 80px;
        line-height: 25px;
        .left{
            float: left;
            width: 70px;
            font-weight: 900;
        }
        .right{
            float: left;
            width: 1100px;
            a{
                margin-right: 8px;
                white-space: nowrap;
            }
        }
    }
    .link{
        height: 25px;
        line-height: 25px;
        text-align: right;
    }
}
//rightbar
#rightbar{
    position:fixed;
    bottom: 100px;
    right: 5px;
    z-index: 30;
    width: 64px;
    li{
        text-align: center;
        background:#c11e20 ;
        width: 64px;
        height: 54px;
        position: relative;
        margin-top: 2px;
        padding-top: 10px;
//      cursor: pointer;
        img{
            margin: 0 auto;
        }
        
       span{
           font-family: "宋体";
           font-size: 12px;
           font-weight: 400;
           display: block;
           margin-top: 5px;
           color: #FFFFFF;
       }
    }
}
