.product_box {
  width: 100%;
  background: #F1F1F1;
  margin: 0 auto 20px auto; }
  .product_box .product {
    width: 1180px;
    margin: 0 auto; }
    .product_box .product .diamondpath {
      width: 1170px;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      margin: 0 auto;
      padding-left: 10px; }
      .product_box .product .diamondpath span {
        margin: 0 8px; }
    .product_box .product .product_item {
      width: 1178px;
      border: 1px solid #D2D2D2;
      background: #fff; }
      .product_box .product .product_item .item_line {
        width: 1178px;
        height: 15px;
        border-top: 2px solid #FFC0C1; }
      .product_box .product .product_item .item_left {
        float: left;
        padding: 15px 25px;
        width: 450px;
        border-right: 1px solid #D2D2D2; }
        .product_box .product .product_item .item_left .large {
          width: 422px;
          height: 422px;
          margin: 0 10px;
          text-align: center;
          position: relative; }
          .product_box .product .product_item .item_left .large img {
            width: 420px;
            height: 420px; }
          .product_box .product .product_item .item_left .large .mask {
            width: 247px;
            height: 276px;
            border: 1px solid #D2D2D2;
            position: absolute;
            top: 0;
            left: 0;
            display: none; }
          .product_box .product .product_item .item_left .large .big_box {
            width: 420px;
            height: 420px;
            position: absolute;
            left: 435px;
            top: 0;
            border: 1px solid #D2D2D2;
            display: none; }
        .product_box .product .product_item .item_left .small {
          width: 422px;
          height: 102px;
          margin: 10px 10px 0 10px;
          text-align: center;
          position: relative; }
          .product_box .product .product_item .item_left .small .smallL {
            width: 18px;
            height: 90px;
            position: absolute;
            left: 0;
            top: 0;
            background: url(../images/custom/prev.gif) no-repeat 0 0; }
          .product_box .product .product_item .item_left .small .smallC {
            width: 384px;
            height: 98px;
            position: relative;
            padding: 1px 18px; }
            .product_box .product .product_item .item_left .small .smallC ul {
              height: 100px;
              position: relative;
              left: 0;
              top: 0; }
              .product_box .product .product_item .item_left .small .smallC ul li {
                float: left;
                margin-left: 2px;
                margin-right: 2px;
                width: 90px;
                height: 90px;
                padding: 4px 1px;
                background: url(../images/custom/border.gif) no-repeat; }
                .product_box .product .product_item .item_left .small .smallC ul li img {
                  width: 90px;
                  height: 90px; }
          .product_box .product .product_item .item_left .small .smallR {
            width: 18px;
            height: 90px;
            position: absolute;
            right: 0;
            top: 0;
            background: url(../images/custom/next.gif) no-repeat -54px 0; }
      .product_box .product .product_item .item_right {
        width: 600px;
        float: right;
        padding: 15px 5px; }
        .product_box .product .product_item .item_right .list {
          width: 530px;
          height: 38px; }
          .product_box .product .product_item .item_right .list .text {
            width: 100px;
            float: left;
            line-height: 38px;
            text-align: right; }
          .product_box .product .product_item .item_right .list .data {
            float: left;
            width: 430px;
            line-height: 38px; }
        .product_box .product .product_item .item_right .bold {
          font-weight: 900;
          font-size: 14px; }
        .product_box .product .product_item .item_right .market {
          color: #888;
          font-size: 14px;
          font-weight: 900;
          text-decoration: line-through; }
        .product_box .product .product_item .item_right .price {
          color: #DB3962;
          font-size: 14px;
          font-weight: 900; }
        .product_box .product .product_item .item_right .materia {
          padding: 5px 10px;
          background: #ccc;
          margin-right: 8px;
          cursor: pointer; }
        .product_box .product .product_item .item_right .materiaselect {
          padding: 5px 10px;
          background: #DB3962;
          color: #fff;
          margin-right: 8px;
          cursor: pointer; }
        .product_box .product .product_item .item_right .dropdown {
          padding: 2px;
          margin-top: 8px;
          border: 1px solid #ccc;
          font-size: 14px;
          outline: none; }
        .product_box .product .product_item .item_right .diamond {
          color: #A00005; }
        .product_box .product .product_item .item_right .crave {
          padding: 2px;
          width: 80px;
          height: 17px;
          margin-right: 10px;
          border: 1px solid #ccc; }
        .product_box .product .product_item .item_right .consult {
          color: red; }
        .product_box .product .product_item .item_right .info {
          width: 450px;
          margin-top: 10px;
          margin-left: 40px;
          padding-top: 10px;
          border-top: 1px dashed #D2D2D2; }
          .product_box .product .product_item .item_right .info .button {
            width: 450px;
            height: 60px; }
            .product_box .product .product_item .item_right .info .button .addtocart_zuan {
              float: left;
              width: 227px;
              height: 42px;
              line-height: 42px;
              margin-top: 12px;
              margin-right: 12px;
              background: url(../images/custom/addtocart_zuan.png) no-repeat;
              cursor: pointer; }
            .product_box .product .product_item .item_right .info .button .addtofavor {
              float: left;
              width: 126px;
              height: 42px;
              line-height: 42px;
              margin-top: 12px;
              margin-right: 12px;
              background: url(../images/custom/addtofavor.png) no-repeat;
              cursor: pointer; }
    .product_box .product .productcont {
      width: 1180px;
      padding-top: 20px; }
      .product_box .product .productcont .contleft {
        float: left;
        width: 242px; }
        .product_box .product .productcont .contleft .lefthead {
          width: 240px;
          height: 35px;
          line-height: 35px;
          text-indent: 10px;
          font-weight: 900;
          border: 1px solid #D2D2D2;
          background: url(../images/custom/listbg.gif);
          color: #DB3962; }
        .product_box .product .productcont .contleft .security {
          width: 240px;
          height: 231px;
          border: 1px solid #D2D2D2;
          border-top: 0; }
        .product_box .product .productcont .contleft .lefthots {
          margin-top: 20px;
          width: 240px;
          height: 35px;
          line-height: 35px;
          text-indent: 10px;
          font-weight: 900;
          border: 1px solid #D2D2D2;
          background: url(../images/custom/listbg.gif); }
        .product_box .product .productcont .contleft .hotslist {
          width: 240px;
          border-left: 1px solid #D2D2D2;
          border-right: 1px solid #D2D2D2; }
          .product_box .product .productcont .contleft .hotslist .hotsimgs {
            padding: 5px 0;
            width: 240px;
            height: 200px;
            text-align: center;
            background: #fff; }
            .product_box .product .productcont .contleft .hotslist .hotsimgs img {
              width: 200px;
              height: 200px;
              border: 0; }
          .product_box .product .productcont .contleft .hotslist .hotstext {
            padding: 0 5px;
            width: 230px;
            height: 36px;
            line-height: 30px;
            text-align: center;
            border-bottom: 1px solid #D2D2D2;
            background: #fff; }
      .product_box .product .productcont .contright {
        float: right;
        width: 910px;
        border: 1px solid #D2D2D2;
        background: #fff; }
        .product_box .product .productcont .contright .righthead {
          width: 910px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          font-weight: 900;
          border-bottom: 1px solid #D2D2D2;
          background: url(../images/custom/listbg.gif); }
          .product_box .product .productcont .contright .righthead .headnormal {
            float: left;
            width: 100px;
            height: 35px;
            line-height: 35px;
            border-right: 1px solid #D2D2D2;
            cursor: pointer; }
        .product_box .product .productcont .contright .cont_box {
          width: 910px; }
          .product_box .product .productcont .contright .cont_box .product_img {
            width: 712px;
            min-height: 712px;
            text-align: center;
            padding: 20px 45px 0 80px; }
            .product_box .product .productcont .contright .cont_box .product_img img {
              /*min-height: 712px;*/
              width: 713px;
              padding: 20px; }

/*# sourceMappingURL=product.css.map */
